@page "/Account/Register"

<PageTitle>Register</PageTitle>

@* <h1>Please Register</h1> *@

<div class="row">
    <div class="col-md-4">
        <section>
            <EditForm Model="RegisterData" method="post" OnValidSubmit="RegisterUser" FormName="register">
                <DataAnnotationsValidator />
                <h2>Create a new account</h2>
                <hr />
                <ValidationSummary class="text-danger" role="alert" />

                <div class="form-floating mb-3">
                    <InputText @bind-Value="RegisterData.FullName" class="form-control" autocomplete="username" aria-required="true" placeholder="full name" />
                    <label for="fullname" class="form-label">Full Name</label>
                    <ValidationMessage For="() => RegisterData.FullName" class="text-danger" />
                </div>

                <div class="form-floating mb-3">
                    <InputText @bind-Value="RegisterData.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label for="email" class="form-label">Email</label>
                    <ValidationMessage For="() => RegisterData.Email" class="text-danger" />
                </div>

                <div class="form-floating mb-3">
                    <InputText type="password" @bind-Value="RegisterData.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label for="password" class="form-label">Password</label>
                    <ValidationMessage For="() => RegisterData.Password" class="text-danger" />
                </div>

                <div class="form-floating mb-3">
                    <InputText type="password" @bind-Value="RegisterData.ConfirmPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label for="confirm-password" class="form-label">Confirm Password</label>
                    <ValidationMessage For="() => RegisterData.ConfirmPassword" class="text-danger" />
                </div>

                <div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                </div>
            </EditForm>
        </section>
        @Error
    </div>
</div>

@code {
    string? Error;

    [SupplyParameterFromForm]
    private RegisterDto RegisterData { get; set; } = new();

    public async Task RegisterUser()
    {
        Error = "";
        var result = await accountService.RegisterAsync(RegisterData);

        if (result.Flag)
        {
            RegisterData = new();
            NavManager.NavigateTo("Account/Login");
        }
        Error = result.Message;
    }
}
